body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px "微软雅黑","Arial Narrow",HELVETICA;background:#fff;}
a{color:#172c45;text-decoration:none} 
em{font-style:normal}
li{list-style:none}
img{border:0;display:block} 
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
header,article,aside,section,footer,nav,figure,main{display:block;}
html{height: 100%;}

body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position : relative;
	min-width: 773px;
}
#header-div{
	background: #303030;
	height: 76px;
	position:relative;
}
#header-div .logo-div{
	margin-left: 30px;
	margin-top: 20px;
	width: 262px;
	height: 45px;
	float: left;
}
#header-div .submenu-div{
	position: absolute;
	right: 0px;
}
#header-div .submenu-div li{
	float: left;
}
#header-div .submenu-div li a{
	text-align : center;
	height: 67px;
	width: 82px;
	padding-top: 8px;
	display: block;
	text-decoration: none;
	color: #FFF;
}

#header-div .submenu-div li a:hover{
	background: #404040;
}
#header-div .submenu-div li a img{
	margin: auto;
	display: block;
	height: 35px;
}
#header-div .submenu-div li a span{
	margin-top: 6px;
	display: block;
}
#header-div .submenu-div li:first-child a{
	width: 102px;
}
#header-div .submenu-div li:first-child a span{
	color: #ff0;
	font-weight: bold;
}

#menu-div{
	background: #575757;
	height: 41px;
	border-bottom: 1px solid #212121;
}
#menu-div .list_nav{
	margin: 0px  0px 0px 15px;
	padding: 0px;
	list-style-type: none;
}
#menu-div .list_nav li{
	float:left;
	display: block;
	height: 41px;
	line-height: 41px;
	position: relative;
}
#menu-div .list_nav li img{
	display: inline-block;
	width:17px;
	height:18px; 
	border:none;
}
#menu-div .list_nav li span{
	margin-left: 10px;
}
#menu-div .list_nav a{
	color: #fff;
}

#menu-div .list_nav li a .num{
	width: 32px;
	height: 16px;
	background: url(../images/index-11_22.png) no-repeat scroll;
	display: inline-block;
	line-height: 16px;
	vertical-align: middle;
	text-align: center;
}
#menu-div .list_nav li .muneFG{
	height: 13px;
	width: 0px;
    border-right: 1px solid #656565;
    margin-top: 15px;
    border-left: 1px solid#303030;
    display: inline-block;
}
#menu-div .list_nav li a{
	float: left;
	color: #FFF;
	padding: 0px 12px;
	display: block;
	text-decoration: none;
}



#main-div{
	position: absolute;
	width: 100%;
	top: 118px;
	bottom: 0;
	background: pink;
}
#main-div .side_nav{
	width: 180px;
	height: 100%;
	background: #575757;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
}
#main-div .side_nav .list_nav a{
	color: #fff;
}
#main-div .sidenav_line{
	width: 10px;
	height: 100%;
	display: inline-block;
	background: #303030;
	float: left;
	position: relative;

}

#main-div .sidenav_line a{
    text-decoration: none;
}
#main-div .sidenav_line a img{
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 30px;
	border: none;
	top: 50%;
	transform: translate(0,-15px)
}
#main-div .side_nav .list_nav_tabbar{
	width: 100%;
	height: 34px;
	padding-left: 10px;
	padding-top: 0px;
	background: #303030;

}
#main-div .side_nav .list_nav_tabbar p{
	line-height: 34px;
	font-weight: bold;
	padding: 1px 15px 4px 18px;
	cursor: pointer;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
}

#main-div .side_nav>ul{
	list-style-type: none;
	color: #335B64;
}

#main-div .side_nav>.list_nav>ul .collapse{	
	display: block;
	border-top: #7f7f7f 1px solid;
	width: 100%;
	color: #fff;
	text-align: left;
	line-height: 42px;
	text-indent: 40px;
}
.ico_1 {background:url(http://www.doudoufei.top/shops/admin/images/menu_1.png) no-repeat 9px 0 ;} 
.ico_2 {background:url(http://www.doudoufei.top/shops/admin/images/menu_2.png) no-repeat 9px 0 ;} 
.ico_3 {background:url(http://www.doudoufei.top/shops/admin/images/menu_3.png) no-repeat 9px 0 ;} 
.ico_4 {background:url(http://www.doudoufei.top/shops/admin/images/menu_4.png) no-repeat 9px 0 ;} 
.ico_5 {background:url(http://www.doudoufei.top/shops/admin/images/menu_5.png) no-repeat 9px 0 ;} 
.ico_6 {background:url(http://www.doudoufei.top/shops/admin/images/menu_6.png) no-repeat 9px 0 ;} 
.ico_7 {background:url(http://www.doudoufei.top/shops/admin/images/menu_7.png) no-repeat 9px 0 ;} 
.ico_8 {background:url(http://www.doudoufei.top/shops/admin/images/menu_8.png) no-repeat 9px 0 ;} 
.ico_9 {background:url(http://www.doudoufei.top/shops/admin/images/menu_9.png) no-repeat 9px 0 ;} 
.ico_10 {background:url(http://www.doudoufei.top/shops/admin/images/menu_10.png) no-repeat 9px 0 ;} 
.ico_11 {background:url(http://www.doudoufei.top/shops/admin/images/menu_11.png) no-repeat 9px 0 ;} 
.ico_12 {background:url(http://www.doudoufei.top/shops/admin/images/menu_12.png) no-repeat 9px 0 ;} 
.ico_13 {background:url(http://www.doudoufei.top/shops/admin/images/menu_13.png) no-repeat 9px 0 ;} 
.ico_14 {background:url(http://www.doudoufei.top/shops/admin/images/menu_14.png) no-repeat 9px 0 ;} 
.ico_15 {background:url(http://www.doudoufei.top/shops/admin/images/menu_15.png) no-repeat 9px 0 ;} 
.ico_16 {background:url(http://www.doudoufei.top/shops/admin/images/menu_16.png) no-repeat 9px 0 ;} 

.main-manage{
	min-width: 200px;
	height: 100%;
	float: left;
	position: absolute;
	left: 190px;
	right: 0;
}
.main-manage iframe{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
